@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*header*/
#wrap {
    background: #113036;
}
.header {
    background: #5cc5ab;
    width: 92%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2% 4%;
    overflow: auto;
}
.header h1 {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 180%;
    display: inline;
    float: left;
    padding-right: 5%;
}
.header ul {
    float: left;
    width: 50%;
}
.header ul li {
    float: left;
    color: #fff;
    margin-top: 7%;
    width: 45%;
    text-align: center;
    float: left;
    border-left: 1px solid #fff;
}
.header ul li a{
    color:#fff;
}
.header ul li a:link, 
.header ul li a:visited {
    color: #fff;
    text-decoration: none;
}
.header ul li a:hover, 
.header ul li a:focus, 
.header ul li a:active {
    color: #f7ffb3; 
    text-decoration: none;
    background: none;
}


/*컨텐츠영역*/
.contents {
    padding: 5% 4% 0 4%;
}

.main .graphbox {
    background: #718863;
    border-radius: 10px;
    width: 90%;
    height: 370px;
    padding: 5% 5% 0 5%;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
}
.main .graphbox p {
    color: #fff;
    font-size: 1.8em;
    line-height: 130%;
}
.graph {
    text-align: center;
    margin: 5%;
}
/*차트*/
.chart {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: 0.3s;
    background:#718863;
    display:inline-block;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
}

.chart:after{ /* 가상선택자는 도넛 모양을 만들기 위함이다.*/
    content:'';
    background: #718863;  /* 백그라운드 컬러로 중앙가리기 */
    position: absolute;
    top:50%; left:50%;
    width:150px; height:150px; /* 도넛의 너비 설정 */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%) inset;
}
.chart-bar{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background: conic-gradient(#9986dd 50deg, #fbb871 50deg);/* 차트 설정 */
}
.bar {
    width: 100%;
    height: 40px;
    background: #efefef;
    margin-top: 5%;
}
.bar span.oversea {
    background: #39c9e9;
    display: inline;
    width: 50%;
    display: block;
    float: left;
    line-height: 250%;
    text-align: center;
    color: #fff;
}
.bar span.domestic {
    background: #e34141;
    display: inline;
    width: 30%;
    display: block;
    float: left;
    line-height: 250%;
    text-align: center;
    color: #fff;
}
.bar span.deposit {
    background: #efefef;
    display: inline;
    width: 20%;
    display: block;
    float: left;
    line-height: 250%;
    text-align: center;
}
.group {
    margin: 5% 0 0 0;
    background: #39c9e9;
    border-radius: 10px;
    width: 90%;
    height: 70px;
    padding: 5%;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
}
.group li {
    color: #fff;
    margin: 2% 0;
    width: 45%;
    float: left;
}
.group li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5%;
    margin-bottom: 1px;
}
.group li span.type01 {
    background: #e34141;

}
.group li span.type02 {
    background: pink;

}
.group li span.type03 {
    background: blue;

}
.group li span.type04 {
    background: yellow;

}

/*이벤트*/
.event .box {
    border-radius: 10px;
    width: 90%;
    height: 200px;
    padding: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    position: relative;
}
.olive {
    background: #98833a;
}
.mint {
    background:#5cc5ab;
}
.event .box.olive p {
    font-size: 1.5em;
    color: #fff;
    line-height: 180%;
}
.event .box.mint p {
    font-size: 1.8em;
    color: #fff;
    line-height: 150%;
}
.event .box p span {
    font-size: 1.6em;
    font-weight: bold;
}
.event .box button {
    position:absolute;
    right: 5%;
    bottom: 10%;
    border-radius: 30px;
    border: none;
    padding:1% 5%;
    font-size: 1.2em;
    font-style: italic;
}
.event .box.olive button {
    background: #caa935;
    color: #fff;
}
.event .box.mint button{
    background: #37adb5;
    color: #fff;
}

/*푸터*/
.footer {
    visibility: hidden;
}
