@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
input:focus {outline: none;} /* outline 테두리 없애기 */
.layer-popup {
    padding: 10% 5% 5% 5%;
    border: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(197, 197, 197);
    width: 60%;
    position: absolute;
    left:20%;
    top: 50%;
    display: none;
}
.layer-popup .btn_close {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background: none;
}
.layer-popup p {
    width: 100%;
    text-align: center;
}
.layer-popup .btn_area{
    width: 100%;
    text-align: center;
    padding: 5% 0;
}
.layer-popup button.btn_no {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 2%;
    width: 70px;
}
.layer-popup button.btn_yes {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 2%;
    background: #cedcff;
    width: 70px;
}
.layer-popup.show {
	display: block;
}
/*header*/
#wrap {
    background: #fffcde;
}
.contents {
    padding: 4%;
}
.main {
    padding: 15%  10%;
}
.main .title {
    color: #cedcff;
    text-align: center;
    height: 100px;
    width: 310px;
    display: inline-block;
    margin-bottom: 10%;
    background: url(../img/tx_login.png) no-repeat center;
    background-size: 80%;
    text-indent: -9999px;
}
.main .group {
    overflow: hidden;
    position: relative;
    margin-bottom: 5%;
}
.main .group p {
    border-bottom: 1px solid #000;
    display: inline-block;
}
.main input {
    position: relative;
    left: 100px;
    border: none;
    background: none;
    padding: 5% 0 5% 0;
    width: 100%;
    height: 10px;
    float: right;
    font-size: 2em;
    margin-top:2%;
}
.main label.id {
    position: absolute;
    left: 0;
    top: 10%;
    background: url(../img/tx_id.png) no-repeat;
    display: inline-block;
    width: 100px;
    height: 33px;
}
.main label.pw {
    background: url(../img/tx_pw.png) no-repeat;
    display: inline-block;
    width: 100px;
    height: 33px;
    position: absolute;
    left: 0;
    top: 58%;
}
.main a.btn_idpw, .main a.btn_join {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 1% 0;
}
a.btn_idpw {color:#9c9a96;}
a.btn_idpw:link, a.btn_idpw:visited {color: #9c9a96; text-decoration: none;}
a.btn_idpw:hover, a.btn_idpw:focus, a.btn_idpw:active {color: #9c9a96; text-decoration: none;}
a.btn_join {color:#9c9a96;}
a.btn_join:link, a.btn_join:visited {color: #9c9a96; text-decoration: none;}
a.btn_join:hover, a.btn_join:focus, a.main .btn_join:active {color: #9c9a96; text-decoration: none;}


.main ul {
    margin: 10% 0 0 0;
    overflow: hidden;
    padding: 0 7%;
}
.main li {
    float: left;
    width: 25%;
    margin: 0 2%;
    text-indent: -9999px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}
.main li:nth-of-type(1) {
    background: url(../img/ico_google_login.png) no-repeat;
    background-size: 100%;
   
}
.main li:nth-of-type(2) {
    background: url(../img/icon_apple_login.png) no-repeat;
    background-size: 100%;
}
.main li:nth-of-type(3) {
    background: url(../img/ico_facebook_login.png) no-repeat;
    background-size: 100%;
}
.main li:nth-of-type(4) {
    background: url(../img/ico_naver_login.png) no-repeat;
    background-size: 100%;
}
.main li a {
    cursor: pointer;
}
.main span {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #9c9a96;
    font-size: .8em;
    margin-top: 10%;
}
a.login_pass {color:#9c9a96;}
a.login_pass:link, a.login_pass:visited {color: #9c9a96; text-decoration: none;}
a.login_pass:hover, a.login_pass:focus, a.login_pass:active {color: #9c9a96; text-decoration: none;}
