@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

button { 
    color: #333;
}


/*header*/
#wrap {
    padding: 2% 4%;
}
.header {
    display: inline-block;
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid gray;
    margin-bottom: 2%;
}
.header h1 {
    font-weight: bold;
    float: left;
    font-size: 1.2em;
    padding-top: 1%;
}
.header h1 a:hover {
    background: none;

}
.header li {
    display: none;    
}
.header li:last-of-type {
    display: inline-block;
    float: right;
    background: url(../img/ico_menu.png) no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}

/*컨텐츠영역*/
.contents {
    width: 100%;
    padding-top: 2%;
}
.map {
    background: #efefef;
    height: 300px;
    text-align: center;
}
.btn_area {
    width: 100%;
    display: inline-block;
}

.btn_area button.btn_next {
    float: right;
    margin:5% 0;
    border-radius: 5px;
    background:gray;
    border: none;
    width: 100%;
    padding: 3% 0;
    cursor: pointer;
    color:#fff;
    font-weight: bold;
}
.btn_area button.btn_next:active,
.btn_area button.btn_next:hover,
.btn_area button.btn_next:focus {
  color: #fff;
}
.btn_area button.btn_next:disabled {
  opacity: 0.5;
}

.title {
    width: 96%;
    background: lightgray;
    padding: 2%;
    font-weight: bold;
    overflow: auto;
}
.title h4 {
    float: left;
    font-size: 1em;
    font-weight: lighter;
    padding-top: 5px;
    font-weight: bold;
    float: left;
}
/*step*/
.step {
    float: right;
    font-size: .8em;
    font-weight: normal;
    margin-top: 3px;
    width: 80px;
}
.step li button {
    display: inline-block;
    line-height: 150%;
    float: left;
    text-align: center;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
}
.step li button:active,
.step li button:hover,
.step li button:focus {
    background: #bdbdbd;
}
.title .step li button:disabled {
  opacity: 0.5;
}

.step li button.on {
    background: gray;
    color: #fff;
}
.step li button.on:active,
.step li button.on:hover,
.step li button.on:focus {
  background:#333;
}
.step li button.on:disabled {
  opacity: 0.5;
}

/*사진*/
.photo {
    overflow: hidden;
}
.photo img {
    width: 100%;
}
/*리스트*/
.cafe_list {
    margin: 5% 0;
}
.cafe_list dd {
    padding: 2%;
    background: #efefef;
    margin-bottom: 2px;
}
/*체크박스*/
input#list1,
input#list2,
input#list3,
input#list4 {
    display:none;
}

input#list1 + label,
input#list2 + label,
input#list3 + label,
input#list4 + label {
    cursor:pointer;
}

input#list1 + label > span,
input#list2 + label > span,
input#list3 + label > span,
input#list4 + label > span {
    vertical-align: middle;
    padding-left: 5px;
}
input#list1 + label:before,
input#list2 + label:before,
input#list3 + label:before,
input#list4 + label:before {
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background: url('../img/checkbox.png') no-repeat;
    background-size: 100%;
    margin-bottom: -4px;
}
input#list1:checked + label:before,
input#list2:checked + label:before,
input#list3:checked + label:before,
input#list4:checked + label:before {
    content:"";
    width:20px;
    height:20px;
    background: url('../img/checked.png') no-repeat;
    background-size: 100%;
}
.list .btn_more {
    width:100%;
    margin: 0 auto;
    border: none;
    background: #efefef;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #333;
    padding: 2% 0;
    cursor: pointer;
}

/*좌석선택*/
.seat {
    padding-top:10%;
}
.seat h4 {
    margin-bottom: 2%;
}
.seat_no {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow: auto;
    padding: 5% 0;

}
.seat_no li {
    float: left;
    width: 12%;
    height: 50px;
    margin: 3% 0;
    margin-left:10%;
}
.seat_no li:first-child,
.seat_no li:nth-child(5),
.seat_no li:nth-child(9),
.seat_no li:nth-child(13) {
    width: 12%;
    margin-left: 6%;
}
.seat_no li button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    border: 1px solid #e2dcdc;
}
.seat_no  li button:active,
.seat_no  li button:hover{
  border: 1px solid #333;
}
.seat_no  li button:focus {
    border: 1px solid #333;
    background: #333;
    color: #fff;
  }
.seat_no  li button:disabled {
  opacity: 0.5;
  background: efefef;
  border: 1px solid #e2dcdc;
}
.seat_no li button.checked {
    background: #e2dcdc;
}
.seat_no  li button.checked:active,
.seat_no  li button.checked:hover,
.seat_no  li button.checked:focus {
  background:#333;
  color: #fff;
}
.seat_no  li button.checked:disabled {
  opacity: 0.5;
}

/*설명*/
.description {
    padding : 5% 0;
}
.description p {
    font-size: .7em;
    display: inline;
}
.description p span {
    color : #e2dcdc;
}
.description p span.selected {
    color: #333;
}
/*검색*/
.search_box {
    position: relative;
    left: 0;
    text-outline: 0 0 #000;

}
.search_box label {
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    margin-bottom: 3%;
}
.search_box input.input_add {
    background: #efefef;
    border: none;
    border-radius: 5px;
    padding: 3% 4%;
    width: 92%;
    color: #bdbdbd;
    margin-bottom: 5%;
}
.search_box button.btn_search {
    background: url(../img/bnt_search.png) no-repeat;
    width: 32px;
    height: 32px;
    float: right;
    position: absolute;
    right: 3%;
    top:40%;
    border: none;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
}
/*시간*/
.time>h4 {
    margin: 10% 0 2% 0;
    font-weight: bold;

}

.time dl {
    margin: 3% 0;
    display: inline-block;
    width: 100%;
}
.time dl dt {
    font-size: .8em;
}
.time dl dd button {
    border: 1px solid gray;
    padding: 2%;
    width: 32%;
    height: 50px;
    margin: 2% 0 0 2%;
    float: left;
    text-align: center;
    font-size: .8em;
} 
.time dd:nth-of-type(1) button,
.time dd:nth-of-type(4) button,
.time dd:nth-of-type(7) button {
    margin: 2% 0 0 0;
    display: inline-block;
}
.time dd button:active,
.time dd button:hover,
.time dd button:focus {
  background:#333;
  color: #fff;
}
.time dd button:disabled {
  opacity: 0.5;
}

.time button.btn_more {
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
    border: none;
    cursor: pointer;
}
.time button.btn_card {
    width: 100%;
    padding: 2%;
    border: none;
    cursor: pointer;
}


@media screen and (min-width: 768px) { 
    .header {
        display: inline-block;
        width: 100%;
        padding-bottom: 2%;
        border-bottom: 1px solid gray;
        margin-bottom: 2%;
    }
    .header h1 {
        font-weight: bold;
        float: left;
        font-size: 1.2em;
        padding-top: 1%;
        margin-top: 2%;
    }
    .header h1 a:hover {
        background: none;
    
    }
    .header ul {
        float: right;
        width: 65%;
        margin-top: 2%;
    }
    .header li {
        display: inline-block;
        width: 30%;
        text-align: center;
        margin-top: 2%;
    }
    .header li a.on {
        font-weight: bold;
    }
    .header li a:hover {
        text-decoration: underline;    
    }
    .header li:last-of-type {
        float: right;
        background: url(../img/ico_menu.png) no-repeat;
        background-size: 100%;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        margin: 1% 1% 0 0;
    }
    .header li:last-of-type a {
        cursor: pointer;
    }
    
    /*컨텐츠영역*/
    .contents {
        width: 100%;
        padding-top: 2%;
        height: 70vh;
    }
    .map {
        background: #efefef;
        height: 80%;
        text-align: center;
    }
    .btn_area {
        width: 100%;
        display: inline-block;
    }
    
    .btn_area button.btn_next {
        float: right;
        margin:2% 0;
        border-radius: 5px;
        background:gray;
        border: none;
        width: 100%;
        padding: 1% 0;
        cursor: pointer;
        color:#fff;
        font-weight: bold;
    }
    .btn_area button.btn_next:active,
    .btn_area button.btn_next:hover,
    .btn_area button.btn_next:focus {
      color: #fff;
    }
    .btn_area button.btn_next:disabled {
      opacity: 0.5;
    }
    
    .list {
        position: relative;
        height: 50%;
    }
    
    .list .title {
        width: 46%;
        background: lightgray;
        padding: 1%;
        font-weight: bold;
        overflow: auto;
    }
    .time .title {
        width: 96%;
        background: lightgray;
        padding: 1%;
        font-weight: bold;
        overflow: auto;
    }
    .title h4 {
        float: left;
        font-size: 1em;
        font-weight: lighter;
        padding-top: 5px;
        font-weight: bold;
        float: left;
    }
    /*step*/
    .step {
        float: right;
        font-size: .8em;
        font-weight: normal;
        margin-top: 3px;
        width: 80px;
    }
    .step li button {
        display: inline-block;
        line-height: 150%;
        float: left;
        text-align: center;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .step li button:active,
    .step li button:hover,
    .step li button:focus {
        background: #bdbdbd;
    }
    .title .step li button:disabled {
      opacity: 0.5;
    }
    
    .step li button.on {
        background: gray;
        color: #fff;
    }
    .step li button.on:active,
    .step li button.on:hover,
    .step li button.on:focus {
      background:#333;
    }
    .step li button.on:disabled {
      opacity: 0.5;
    }
    
    /*사진*/
    .photo {
        overflow: hidden;
    }
    .photo img {
        width: 50%;
    }
    
    /*리스트*/
    .cafe_list {
        width: 45%;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 2%;
    }
    .cafe_list dd {
        padding: 2%;
        background: #efefef;
        margin-bottom: 2px;
    }
    /*체크박스*/
    input#list1,
    input#list2,
    input#list3,
    input#list4 {
        display:none;
    }
    
    input#list1 + label,
    input#list2 + label,
    input#list3 + label,
    input#list4 + label {
        cursor:pointer;
    }
    
    input#list1 + label > span,
    input#list2 + label > span,
    input#list3 + label > span,
    input#list4 + label > span {
        vertical-align: middle;
        padding-left: 5px;
    }
    input#list1 + label:before,
    input#list2 + label:before,
    input#list3 + label:before,
    input#list4 + label:before {
        content:"";
        display:inline-block;
        width:20px;
        height:20px;
        background: url('../img/checkbox.png') no-repeat;
        background-size: 100%;
        margin-bottom: -4px;
    }
    input#list1:checked + label:before,
    input#list2:checked + label:before,
    input#list3:checked + label:before,
    input#list4:checked + label:before {
        content:"";
        width:20px;
        height:20px;
        background: url('../img/checked.png') no-repeat;
        background-size: 100%;
    }
    .list .btn_more {
        position: absolute;
        right: 0;
        top:68%;
        width:45%;
        border: none;
        border-radius: 5px;
        background: #bdbdbd;
        color: #fff;
        padding: 1% 0;
        cursor: pointer;
    }
    
    /*좌석선택*/
    .seat {
        padding-top:3%;
    }
    .seat h4 {
        margin-bottom: 2%;
    }
    .seat_no {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        overflow: auto;
        padding: 2% 0 4% 0;
    
    }
    .seat_no li {
        float: left;
        width: 18%;
        height: 70px;
        margin: 1% 0;
        margin-left:5%;
    }
    .seat_no li:first-child,
    .seat_no li:nth-child(5),
    .seat_no li:nth-child(9),
    .seat_no li:nth-child(13) {
        width: 18%;
        margin-left: 6%;
    }
    .seat_no li button {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        cursor: pointer;
        border: 1px solid #e2dcdc;
    }
    .seat_no  li button:active,
    .seat_no  li button:hover{
      border: 1px solid #333;
    }
    .seat_no  li button:focus {
        border: 1px solid #333;
        background: #333;
        color: #fff;
      }
    .seat_no  li button:disabled {
      opacity: 0.5;
      background: #efefef;
      border: 1px solid #e2dcdc;
    }
    .seat_no li button.checked {
        background: #e2dcdc;
    }
    .seat_no  li button.checked:active,
    .seat_no  li button.checked:hover,
    .seat_no  li button.checked:focus {
      background:#333;
      color: #fff;
    }
    .seat_no  li button.checked:disabled {
      opacity: 0.5;
    }
    
    /*설명*/
    .description {
        padding : 1% 0 0 0;
    }
    .description p {
        font-size: .9em;
        display: inline;
    }
    .description p span {
        color : #e2dcdc;
    }
    .description p span.selected {
        color: #333;
    }

    /*검색*/
    .search_box {
        position: relative;
        left: 0;
        text-outline: 0 0 #000;
    
    }
    .search_box label {
        font-size: 1em;
        font-weight: bold;
        width: 100%;
        display: inline-block;
        margin-bottom: 3%;
    }
    .search_box input.input_add {
        background: #efefef;
        border: none;
        border-radius: 5px;
        padding: 1% 2%;
        width: 92%;
        color: #bdbdbd;
        margin-bottom: 1%;
    }
    .search_box button.btn_search {
        background: url(../img/bnt_search.png) no-repeat;
        width: 32px;
        height: 32px;
        float: right;
        position: absolute;
        right: 3%;
        top:40%;
        border: none;
        display: inline-block;
        text-indent: -9999px;
        cursor: pointer;
    }

    /*시간*/
    .time>h4 {
        margin: 2% 0 2% 0;
        font-weight: bold;
    }
    .time dl {
        margin:2% 0;
        display: inline-block;
        width: 100%;
    }
    .time dl dt {
        font-size: .8em;
        overflow: hidden;
    }
    .time dl dd button {
        border: 1px solid gray;
        width: 32%;
        height: 50px;
        margin: 2% 0 0 2%;
        float: left;
        text-align: center;
        font-size: .8em;
    } 
    .time dd:nth-of-type(1) button,
    .time dd:nth-of-type(4) button,
    .time dd:nth-of-type(7) button {
        margin: 2% 0 0 0;
        display: inline-block;
    }
    .time dd button:active,
    .time dd button:hover,
    .time dd button:focus {
      background:#333;
      color: #fff;
    }
    .time dd button:disabled {
      opacity: 0.5;
    }
    
    .time button.btn_more {
        width: 100%;
        padding: 2%;
        margin-bottom: 2%;
        border: none;
        cursor: pointer;
    }
    .time button.btn_card {
        width: 100%;
        padding: 2%;
        border: none;
        cursor: pointer;
    }
    
}